# Port for Express server
PORT=5000

# MongoDB Atlas Connection URI
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/nitw_campus_map?retryWrites=true&w=majority

# Secret key for signing JWT tokens
JWT_SECRET=nitw_campus_navigator_super_secret_jwt_key_2025

# Client Frontend URL for CORS (e.g. Vercel deployment or localhost:5173 / localhost:3000)
CLIENT_URL=http://localhost:5173
